@model MovieModel

<h3>Please confirm that you want to remove this movie from the list</h3>
<form method="post" asp-action="List">
    <label asp-for="MovieId">ID</label>
    <input value="@Model.MovieId" asp-for="MovieId" readonly /><br />

    <label asp-for="Title">Title</label>
    <input asp-for="Title" value="@Model.Title" type="text" readonly/><br />

    <button type="submit">Remove</button>
</form>