@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<!--Here is the home page containing a picture of Joel Hilton, nav bar, and a link to add movies-->
<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.Title</h1>
    <br /><br />
    <img src="~/JoelHilton.jpg" width="600"/>
    <br /><br />
          <h3>
              Click
              <a asp-action="NewMovies"> HERE </a>To Add New Movies
          </h3>
</div>
